# Configuración del Bot de Telegram
TELEGRAM_BOT_TOKEN=8397420823:AAHktLrj-Urqi4TpepZRtYcFqSN5p2QMp7o
TELEGRAM_CHAT_ID=5642423602

# Ruta del directorio de Nextcloud
NEXTCLOUD_PATH=/nextcloud/data

# Nivel de logging
LOG_LEVEL=INFO

# Configuración de Redis
REDIS_URL=redis://redis:6379
